
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JangHou - Embrace Your Experiences</title>
    <link rel="icon" href="~/Content/Images/logodefault.png">
    @Styles.Render("~/Content/css")

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/Menu.css" />
</head>
<body>

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/All/logo.png"></a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href=@Url.Action("Giohang","giohang")>Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="megamenu-parent">
                            <a href="shop.html">Categories</a>
                            <div class="vt_megamenu_content">
                                <div class="mega-menu-01">
                                    <div class="menu-01 menu-01-cate">
                                        <ul class="content-col">
                                            <li class="first">
                                                @{ Html.RenderAction("getloai", "Home");}
                                                <div class="sub-content">
                                                    <div class="row">
                                                        <div class="mega-menu-01">
                                                            <h3>Thương hiệu</h3>
                                                            @{Html.RenderAction("getbr", "Home");}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>



                                            @*<li class="first">
                                                <a class="mega-btn" href="#"><span>Laptop Gaming</span></a>
                                                <div class="sub-content">
                                                    <div class="row">
                                                        <div class="mega-menu-01">
                                                            <h3>Thương hiệu</h3>
                                                            @{Html.RenderAction("getbr", "Home");}
                                                        </div>
                                                    </div>
                                                    @*Thêm row ở đây
                                                </div>
                                            </li>
                                            <li class="first">
                                                <a class="mega-btn" href="#"><span>Laptop Văn Phòng</span></a>
                                                <div class="sub-content">
                                                    <div class="row">
                                                        <div class="mega-menu-01">
                                                            <h3>Thương hiệu</h3>
                                                            @{ Html.RenderAction("getbr", "Home");}
                                                        </div>
                                                    </div>
                                                    @*Thêm row ở đây
                                                </div>
                                            </li>*@

                                            @*<li><a class="mega-btn" href="#"><span>Mobile</span></a></li>
                                            <li><a class="mega-btn" href="#"><span>Tablet</span></a></li>
                                            <li><a class="mega-btn" href="#"><span>Camera</span></a></li>
                                            <li class="last"><a class="mega-btn" href="#"><span>Radio</span></a></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="single-product.html">Single product</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer-top-area">
                <div class="zigzag-bottom"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-about-us">
                                <h2>u<span>Stora</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                                <div class="footer-social">
                                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="footer-menu">
                                <h2 class="footer-wid-title">User Navigation </h2>
                                <ul>
                                    <li><a href="#">My account</a></li>
                                    <li><a href="#">Order history</a></li>
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Vendor contact</a></li>
                                    <li><a href="#">Front page</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="footer-menu">
                                <h2 class="footer-wid-title">Categories</h2>
                                <ul>
                                    <li><a href="#">Mobile Phone</a></li>
                                    <li><a href="#">Home accesseries</a></li>
                                    <li><a href="#">LED TV</a></li>
                                    <li><a href="#">Computer</a></li>
                                    <li><a href="#">Gadets</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="footer-newsletter">
                                <h2 class="footer-wid-title">Newsletter</h2>
                                <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                                <div class="newsletter-form">
                                    <form action="#">
                                        <input type="email" placeholder="Type your email">
                                        <input type="submit" value="Subscribe">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End footer top area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="copyright">
                                <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="footer-card-icon">
                                <i class="fa fa-cc-discover"></i>
                                <i class="fa fa-cc-mastercard"></i>
                                <i class="fa fa-cc-paypal"></i>
                                <i class="fa fa-cc-visa"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End footer bottom area -->
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/Scripts/jquery.easing.1.3.min.js"></script>

    <!-- Main Script -->
    <script src="~/Scripts/main.js"></script>

    <!-- Slider -->
    <script type="text/javascript" src="~/Scripts/bxslider.min.js"></script>
    <script type="text/javascript" src="~/Scripts/script.slider.js"></script>
</body>
</html>